@keyframes animacija{
    from { left: 0% }
    to { left: 36% }
}
.container{
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	padding-bottom: 20px; 
}
.page{
	position: relative;
  	min-height: 100vh;
}
.underline{
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}
.bold{
    font-weight: bold;
}
.centre{
    text-align: center;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown:hover .content{
    display: block;
}
.content{
    position: absolute;
    width: 100%;
    height: fit-content;
    overflow: auto;
    display: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: white;
}
.content a{
    border-bottom: red 2px;
    display: block;
}
.content div{
    background: pink;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
nav.underline{
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}
header{
    position: relative;
    text-align: center;
    background-color: white;
    margin-bottom: 0;
}
header div{
    position: absolute;
    top: 52%;
    left: 36%;
    transform: translate(-50%, -50%);
    animation-name: animacija;
    animation-duration: 3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: white;
}
header div b{
    font-size: 66px;
    position: relative;
    bottom: 20px;
    right: 75px;
}
nav{
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
    box-shadow: 0 1px 5px 1px rgb(225, 225, 225);
    word-spacing: 5px;
    clip-path: inset(0px 0px -5px 0px);
}

nav a, div{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-right: 10px;
}
main{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
	text-align: justify;
    max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}
main img{
	display: inline-block;
}
footer{
    background-color: rgb(200, 200, 200);
	position: absolute;
    bottom: -10px;
	left: -7px;
    width: 100%;
    height: 20px;  
}
footer div{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}


